html {
	padding: 0;
	margin: 0;
	width: 100%;
	
}


body {
	font-family: 'Helvetica Neue';
	color: white;
	padding: 0;
	margin: 0;
    background: linear-gradient(90deg, rgba(10, 0, 60, .8), rgba(10, 0, 60, .4)), url(/assets/main-bg.jpg) no-repeat center center fixed;
    background-size: cover;
}

.navbar {
	border-radius: 0;
}

.navbar-brand {
	padding-top: 10px;
	.fa-cog{
		color: orange;
		transition: color .5s ease;
		&:hover {
			color: red;
			transition: color .5s ease;
		}
	}
}

.fa-spin {
	transform-origin: 50% calc(50% - .8px);

}

.front { 
	display: flex;
	justify-content: center;
	font-size: 2em;
	
}

.cyclists {
	background-color: #f8f8f8;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;

}	
.cyclists-ul {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 80%;

}
.cyclists-ul li {
	padding: 10px 20px;
	margin: 5px 0;
	font-size: 1.2em;
	line-height: 2em;
	font-weight: bold;
	text-align: center;
	background-color: rgba(80, 200, 0, .4);

	&:hover {
		background-color: rgba(80, 200, 0, .8);
	}
	&:active {
		background-color: rgba(200, 20, 100, .8);
	}
}

