<div class="container-fluid">
	<h2>Add new hub</h2>
	<div class="row">
		<div class="col col-md col-md-3">
		add a new hub<br>
		Axle width<br>
		left and Right flange diametre<br>
		Left Lock nut to Flange<br>
		Right Lock nut to Flange<br>
		Left Flange to hub centre<br>
		right Flange to hub centre<br>
		</div>
	</div>
</div>
